:root {
    --blue-color: #0075ff;
    --blue-alt-color: #0d69d5;
    --orange-color: #f59e0b;
    --green-color: #22c55e;
    --red-color: #f44336;
    --grey-color: #888;
}
/* start box  */
.d-flex {
    display: flex;
}
.f-direction{
    flex-direction: column;
}
.d-block {
    display: block;
}
.space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.f-wrap {
    flex-wrap: wrap;
}
.d-grid {
    display: grid;
}
.gap-20 {
    gap: 20px;
}
.f-one {
    flex: 1;
}
@media (max-width: 767px){
    .block-mobile {
        display: block;
    }
    .hide-mobile {
        display: none;
    }
}
/* end box  */
/* start padding + margin  */
.p-10 {
    padding: 10px;
}
.p-15 {
    padding: 15px;
}
.p-20 {
    padding: 20px;
}
.pl-15 {
    padding-left: 15px;
}
.pb-15 {
    padding-bottom: 15px;
}
.m-15 {
    margin: 15px;
}
.m-20 {
    margin: 20px;
}
.m-0 {
    margin: 0;
}
.mt-0 {
    margin-top: 0;
}
.mt-5 {
    margin-top: 5px;
} 
.mt-10 {
    margin-top: 10px;
} 
.mt-15 {
    margin-top: 15px;
} 
.mr-10{
    margin-right: 10px;
}
.mr-5{
    margin-right: 5px;
}
.mr-15{
    margin-right: 15px;
}
.mr-20{
    margin-right: 20px;
}
.ml-10{
    margin-left: 10px;
}
.ml-20{
    margin-left: 20px;
}
.mt-10 {
    margin-top: 10px;
}
.mt-20 {
    margin-top: 20px;
}
.mt-25 {
    margin-top: 25px;
}
.mb-0 {
    margin-bottom: 0;
} 
.mb-5 {
    margin-bottom: 5px;
} 
.mb-10 {
    margin-bottom: 10px;
}
.mb-15 {
    margin-bottom: 15px;
}
.mb-20 {
    margin-bottom: 20px;
}
.mb-30 {
    margin-bottom: 30px;
}
.mb-50 {
    margin-bottom: 50px;
}
/* end padding + margin  */
/* start color  */
.bg-white {
    background-color: white;
}
.bg-eee {
    background-color: #eee;
}
.bg-blue {
    background-color: var(--blue-color);
}
.bg-orange {
    background-color: var(--orange-color);
}
.bg-green {
    background-color: var(--green-color);
}
.bg-red {
    background-color: var(--red-color);
}
.c-black {
    color: black;
}
.c-white {
    color: white;
}
.c-grey {
    color: var(--grey-color);
}
.c-blue {
    color: var(--blue-color);
}
.c-green {
    color: var(--green-color);
}
.c-orange {
    color: var(--orange-color);
}
.c-red {
    color: var(--red-color);
}
/* end color  */
/* start position  */
.p-relative {
    position: relative;
}
.p-absolute {
    position: absolute;
}
/* end position  */
/* start font  */
.txt-c {
    text-align: center;
}
@media (max-width: 767px){
    .txt-c-mobile {
        text-align: center;
    }
}
.fs-14 {
    font-size: 14px;
}
.fs-13 {
    font-size: 13px;
}
.fs-15 {
    font-size: 15px;
}
.fs-25 {
    font-size: 25px;
}
.fw-bold {
    font-weight: bold;
}
/* end font  */
/* start border  */
.rad-6 {
    border-radius: 6px;
}
.rad-10 {
    border-radius: 10px;
}
.rad-half {
    border-radius: 50%;
}
.b-none {
    border: none;
}

/* end border  */
/* start components */
.center-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}
.between-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.btn-shape {
    padding: 4px 10px;
    border-radius: 6px;
}
.br-eee{
    border: solid 1px #eee;
}
.brb-eee{
    border-bottom: solid 1px #eee;
}
.t-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));  
    gap: 10px;
}
/* end components */
/* start width  */
.w-full {
    width: 100%;
}
.w-fit {
    width: fit-content;
}
.h-full {
    height: 100%;
}
/* end width  */
